- function get_type_href (name){
-   var type_id = get_type_id( name );
-   return type_id ? ( '[' + name + '](#'+ type_id + ')' ) : name;
- }
- function param_type_list (names){
-   return names.map(get_type_href).join(',');
- }
- function gwm_md_auto_archor (names){
-   return names.replace(/[^a-zA-Z_]/g,function(){return '-';}).toLowerCase();
- }
- function escape_description (description){
-   return description && description.replace(/\n/g,'');
- }



mixin function_build(api)
  if api.params && api.params.length
    |  
    | **inputs**
    |  
    | | name | types | description |
    | | ---- | ---- | ---- |
    - var callbacks = []
    each param, idx_p in api.params
      | | #{param.name} | #{param.type && param_type_list(param.type.names)} | #{escape_description(param.description)} |
  if api.returns && api.returns.length
    |  
    | **outputs**
    |  
    | | types | description |
    | | ---- | ---- |
    each param, idx_p in api.returns
      | | #{param.type && param_type_list(param.type.names)} | #{escape_description(param.description)} |

mixin param_type_list( names )
  | #{names.map(get_type_href).join(',')}



mixin readme_body()
  | ## Overview
  |  
  = escape_description(package_info.description)
  |  
  | ## index
  |  
  | ### apis
  each api in nodes
    | * [#{api.longname}](##{gwm_md_auto_archor(api.longname)})
  |  
  | ### types
  each type in types
    | * [#{type.longname}](##{gwm_md_auto_archor(type.longname)})
  |  
  | ## apis
  each api in nodes
    |  
    | #### #{api.longname}
    |  
    | ``` 
    | #{api.meta.path +'\\'+ api.meta.filename + ' | line : '+api.meta.lineno}
    | ```
    +function_build(api)
    |  
    = escape_description(api.description)
  |  
  | ## types
  each type in types
    |  
    | #### #{type.longname}
    if type.tags
        each tag in type.tags
          |  
          | #### #{tag.title} 
    if type.description
      |  
      = escape_description(type.description)
    if type.properties
      |  
      | **properties**
      |  
      | | name | type | description |
      | | ---- | ---- | ---- |
      each property in type.properties
        | | #{property.name} | #{property.type && property.type.names.map(get_type_href).join(' ')}| #{escape_description(property.description)} |
    if type.methods
      |  
      | **methods**
      |  
      each method in type.methods
        |  
        | * #{method.name}
        |  
        = escape_description(method.description)
        |  
        +function_build(method)

+readme_body()